<div class="d-flex flex-wrap flex-row">
  <div class="mt-5" style="width: 70em;">
    <h3>The list of taverns</h3>
    <table class="table table-hover" *ngIf="taverns?.length">
      <thead>
      <th>#</th>
      <th>Name</th>
      <th>Action</th>
      </thead>
      <tbody *ngFor="let tavern of taverns; let i = index">
      <tr>
        <td>{{i + 1}}</td>
        <td>
          <a routerLink="/taverns/{{tavern.id}}">{{tavern.name}}</a>
        </td>
        <td>
          <button type="button"
                  class="btn btn-danger btn-sm"
                  (click)="deleteTavern(tavern.id)"
          >Delete</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="!taverns?.length">
      <h4>You have no taverns yet</h4>
    </div>
  </div>
</div>
